In [1]:
import pandas as pd
import numpy as np
import re

## Part 1

In [2]:
df = pd.read_csv("r_01_input.txt", header=None)
df.columns = ["inp"]
df.head()

                                   inp
0               51591twosix4dhsxvgghxq
1                              425nine
2                   llvmhjtr8nbbhrfone
3  lpbjvpbtdfvtxtdvkpjs7qrvddkzmjtlqtg
4                        3sixnineseven

In [3]:
# Extract all digits, group and flatten Multi-Index into list
# https://stackoverflow.com/a/48274708
df["digits"] = df.inp.str.extractall("(\d)").groupby(level=0)[0].apply(list)
df.head()

                                   inp              digits
0               51591twosix4dhsxvgghxq  [5, 1, 5, 9, 1, 4]
1                              425nine           [4, 2, 5]
2                   llvmhjtr8nbbhrfone                 [8]
3  lpbjvpbtdfvtxtdvkpjs7qrvddkzmjtlqtg                 [7]
4                        3sixnineseven                 [3]

In [4]:
# connect first/last digit
df["calibration_value"] = df.digits.apply(lambda x: int(f"{x[0]}{x[-1]}"))
df.head()

                                   inp              digits  calibration_value
0               51591twosix4dhsxvgghxq  [5, 1, 5, 9, 1, 4]                 54
1                              425nine           [4, 2, 5]                 45
2                   llvmhjtr8nbbhrfone                 [8]                 88
3  lpbjvpbtdfvtxtdvkpjs7qrvddkzmjtlqtg                 [7]                 77
4                        3sixnineseven                 [3]                 33

In [5]:
df.calibration_value.sum()

55712

## Part 2

In [6]:
vals = {"one":"1", "two":"2", "three":"3", "four":"4", "five":"5", "six":"6", "seven":"7", "eight":"8", "nine":"9"}

In [7]:
# replace text words with digit
df["inp_clean"] = df.inp.copy()
for x in vals.keys():
    df["inp_clean"] = df.inp_clean.str.replace(x, x+vals[x]+x) # hack to allow run-on words
    # Turns kdeightwo69  into  kdeight8eightwo2two69, preserves order and allows all nums to be found
    
df.head()

,inp,digits,calibration_value,inp_clean
0,51591twosix4dhsxvgghxq,"[5, 1, 5, 9, 1, 4]",54,51591two2twosix6six4dhsxvgghxq
1,425nine,"[4, 2, 5]",45,425nine9nine
2,llvmhjtr8nbbhrfone,[8],88,llvmhjtr8nbbhrfone1one
3,lpbjvpbtdfvtxtdvkpjs7qrvddkzmjtlqtg,[7],77,lpbjvpbtdfvtxtdvkpjs7qrvddkzmjtlqtg
4,3sixnineseven,[3],33,3six6sixnine9nineseven7seven

In [8]:
df["digits2"] = df.inp_clean.str.extractall("(\d)").groupby(level=0)[0].apply(list)
df["calibration_value2"] = df.digits2.apply(lambda x: int(f"{x[0]}{x[-1]}"))
df.head(5)

,inp,digits,calibration_value,inp_clean,digits2,calibration_value2
0,51591twosix4dhsxvgghxq,"[5, 1, 5, 9, 1, 4]",54,51591two2twosix6six4dhsxvgghxq,"[5, 1, 5, 9, 1, 2, 6, 4]",54
1,425nine,"[4, 2, 5]",45,425nine9nine,"[4, 2, 5, 9]",49
2,llvmhjtr8nbbhrfone,[8],88,llvmhjtr8nbbhrfone1one,"[8, 1]",81
3,lpbjvpbtdfvtxtdvkpjs7qrvddkzmjtlqtg,[7],77,lpbjvpbtdfvtxtdvkpjs7qrvddkzmjtlqtg,[7],77
4,3sixnineseven,[3],33,3six6sixnine9nineseven7seven,"[3, 6, 9, 7]",37

In [9]:
df.calibration_value2.sum()

55413