In [110]:
import pandas as pd
import numpy as np
import re

## Part 1

In [123]:
df = pd.read_csv("r_01_input.txt", header=None)
df.columns = ["inp"]
df.head()

                                   inp
0               51591twosix4dhsxvgghxq
1                              425nine
2                   llvmhjtr8nbbhrfone
3  lpbjvpbtdfvtxtdvkpjs7qrvddkzmjtlqtg
4                        3sixnineseven

In [133]:
# Extract all digits, group and flatten Multi-Index into list
# https://stackoverflow.com/a/48274708
df["digits"] = df.inp.str.extractall("(\d)").groupby(level=0)[0].apply(list)
df.head()

,inp,digits,calibration_value,inp_clean,digits2,calibration_value2
0,51591twosix4dhsxvgghxq,"[5, 1, 5, 9, 1, 4]",54,51591two2twosix6six4dhsxvgghxq,"[5, 1, 5, 9, 1, 2, 6, 4]",54
1,425nine,"[4, 2, 5]",45,425nine9nine,"[4, 2, 5, 9]",49
2,llvmhjtr8nbbhrfone,[8],88,llvmhjtr8nbbhrfone1one,"[8, 1]",81
3,lpbjvpbtdfvtxtdvkpjs7qrvddkzmjtlqtg,[7],77,lpbjvpbtdfvtxtdvkpjs7qrvddkzmjtlqtg,[7],77
4,3sixnineseven,[3],33,3six6sixnine9nineseven7seven,"[3, 6, 9, 7]",37

In [134]:
# connect first/last inot digit
df["calibration_value"] = df.digits.apply(lambda x: int(f"{x[0]}{x[-1]}"))
df.head()

,inp,digits,calibration_value,inp_clean,digits2,calibration_value2
0,51591twosix4dhsxvgghxq,"[5, 1, 5, 9, 1, 4]",54,51591two2twosix6six4dhsxvgghxq,"[5, 1, 5, 9, 1, 2, 6, 4]",54
1,425nine,"[4, 2, 5]",45,425nine9nine,"[4, 2, 5, 9]",49
2,llvmhjtr8nbbhrfone,[8],88,llvmhjtr8nbbhrfone1one,"[8, 1]",81
3,lpbjvpbtdfvtxtdvkpjs7qrvddkzmjtlqtg,[7],77,lpbjvpbtdfvtxtdvkpjs7qrvddkzmjtlqtg,[7],77
4,3sixnineseven,[3],33,3six6sixnine9nineseven7seven,"[3, 6, 9, 7]",37

In [135]:
df.calibration_value.sum()

55712

## Part 2

In [136]:
vals = {"one":"1", "two":"2", "three":"3", "four":"4", "five":"5", "six":"6", "seven":"7", "eight":"8", "nine":"9"}

In [137]:
# replace text words with digit
df["inp_clean"] = df.inp.copy()
for x in vals.keys():
    df["inp_clean"] = df.inp_clean.str.replace(x, x+vals[x]+x) # hack to allow run-on words
    # Turns kdeightwo69  into  kdeight8eightwo2two69, preserves order and allows all nums to be found
    
df.head()

,inp,digits,calibration_value,inp_clean,digits2,calibration_value2
0,51591twosix4dhsxvgghxq,"[5, 1, 5, 9, 1, 4]",54,51591two2twosix6six4dhsxvgghxq,"[5, 1, 5, 9, 1, 2, 6, 4]",54
1,425nine,"[4, 2, 5]",45,425nine9nine,"[4, 2, 5, 9]",49
2,llvmhjtr8nbbhrfone,[8],88,llvmhjtr8nbbhrfone1one,"[8, 1]",81
3,lpbjvpbtdfvtxtdvkpjs7qrvddkzmjtlqtg,[7],77,lpbjvpbtdfvtxtdvkpjs7qrvddkzmjtlqtg,[7],77
4,3sixnineseven,[3],33,3six6sixnine9nineseven7seven,"[3, 6, 9, 7]",37

In [138]:
df["digits2"] = df.inp_clean.str.extractall("(\d)").groupby(level=0)[0].apply(list)
df["calibration_value2"] = df.digits2.apply(lambda x: int(f"{x[0]}{x[-1]}"))
df.head(5)

,inp,digits,calibration_value,inp_clean,digits2,calibration_value2
0,51591twosix4dhsxvgghxq,"[5, 1, 5, 9, 1, 4]",54,51591two2twosix6six4dhsxvgghxq,"[5, 1, 5, 9, 1, 2, 6, 4]",54
1,425nine,"[4, 2, 5]",45,425nine9nine,"[4, 2, 5, 9]",49
2,llvmhjtr8nbbhrfone,[8],88,llvmhjtr8nbbhrfone1one,"[8, 1]",81
3,lpbjvpbtdfvtxtdvkpjs7qrvddkzmjtlqtg,[7],77,lpbjvpbtdfvtxtdvkpjs7qrvddkzmjtlqtg,[7],77
4,3sixnineseven,[3],33,3six6sixnine9nineseven7seven,"[3, 6, 9, 7]",37

In [139]:
df.calibration_value2.sum()

55413

In [145]:
df.loc[df.inp.str.contains("eightwo")]

,inp,digits,calibration_value,inp_clean,digits2,calibration_value2
92,kdeightwo69,"[6, 9]",69,kdeight8eightwo2two69,"[8, 2, 6, 9]",89
252,eightcdl979gxzv97eightwogdv,"[9, 7, 9, 9, 7]",97,eight8eightcdl979gxzv97eight8eightwo2twogdv,"[8, 9, 7, 9, 9, 7, 8, 2]",82
262,rjdfqd24seveneightwom,"[2, 4]",24,rjdfqd24seven7seveneight8eightwo2twom,"[2, 4, 7, 8, 2]",22
338,sxeightwoeightkpjxbkrvtbllbxfshseven4threemkbx7,"[4, 7]",47,sxeight8eightwo2twoeight8eightkpjxbkrvtbllbxfs...,"[8, 2, 8, 7, 4, 3, 7]",87
457,85twothreebbpsjcfh12oneeightwov,"[8, 5, 1, 2]",82,85two2twothree3threebbpsjcfh12one1oneeight8eig...,"[8, 5, 2, 3, 1, 2, 1, 8, 2]",82
520,65twopggttdksmtsblfpjbcphzc8eightwopx,"[6, 5, 8]",68,65two2twopggttdksmtsblfpjbcphzc8eight8eightwo2...,"[6, 5, 2, 8, 8, 2]",62
590,88eightwoffg,"[8, 8]",88,88eight8eightwo2twoffg,"[8, 8, 8, 2]",82
618,zddeightwosixlmhrzfksevensevenfive3seven7four,"[3, 7]",37,zddeight8eightwo2twosix6sixlmhrzfkseven7sevens...,"[8, 2, 6, 7, 7, 5, 3, 7, 7, 4]",84
629,rxeightwomgzhcbnlmj72,"[7, 2]",72,rxeight8eightwo2twomgzhcbnlmj72,"[8, 2, 7, 2]",82
642,35onekpnthreeprznkpfvlneightwom,"[3, 5]",35,35one1onekpnthree3threeprznkpfvlneight8eightwo...,"[3, 5, 1, 3, 8, 2]",32
659,cnxmvmcrm4cfivedcnrnneightwosd,[4],44,cnxmvmcrm4cfive5fivedcnrnneight8eightwo2twosd,"[4, 5, 8, 2]",42
661,hbtfjlnplcsrxkt6rcqpfdseveneightwoh,[6],66,hbtfjlnplcsrxkt6rcqpfdseven7seveneight8eightwo...,"[6, 7, 8, 2]",62
682,hfbeightwo3eightfoursixfive,[3],33,hfbeight8eightwo2two3eight8eightfour4foursix6s...,"[8, 2, 3, 8, 4, 6, 5]",85
774,tzvgkfx6ssnxfeightwov,[6],66,tzvgkfx6ssnxfeight8eightwo2twov,"[6, 8, 2]",62
921,9fourzzjfdqdkmxbeight41eightwopr,"[9, 4, 1]",91,9four4fourzzjfdqdkmxbeight8eight41eight8eightw...,"[9, 4, 8, 4, 1, 8, 2]",92
938,bneightwo33ptmpcbfournine4five,"[3, 3, 4]",34,bneight8eightwo2two33ptmpcbfour4fournine9nine4...,"[8, 2, 3, 3, 4, 9, 4, 5]",85