In [1]:
from collections import defaultdict
import pandas as pd

In [2]:
test = """32T3K 765
T55J5 684
KK677 28
KTJJT 220
QQQJA 483"""


lines = test.split("\n")
lines

['32T3K 765', 'T55J5 684', 'KK677 28', 'KTJJT 220', 'QQQJA 483']

In [3]:
with open("07_input.txt") as f:
    lines = [l.strip() for l in f.readlines()]

In [4]:
data = [{"hand": x.split(" ")[0], "bid": int(x.split(" ")[1])} for x in lines]
data

[{'hand': '8T64Q', 'bid': 595},
 {'hand': '79J27', 'bid': 258},
 {'hand': '88885', 'bid': 88},
 {'hand': '8933J', 'bid': 444},
 {'hand': '72527', 'bid': 676},
 {'hand': '5555T', 'bid': 788},
 {'hand': '69946', 'bid': 463},
 {'hand': '572QQ', 'bid': 827},
 {'hand': '553JQ', 'bid': 932},
 {'hand': '99T99', 'bid': 567},
 {'hand': '47Q7Q', 'bid': 112},
 {'hand': '8J8QQ', 'bid': 186},
 {'hand': '5K499', 'bid': 862},
 {'hand': '2837Q', 'bid': 321},
 {'hand': '55557', 'bid': 310},
 {'hand': 'KAAAA', 'bid': 263},
 {'hand': 'J4999', 'bid': 783},
 {'hand': '4QQQ4', 'bid': 961},
 {'hand': '64464', 'bid': 329},
 {'hand': '8AQ9K', 'bid': 153},
 {'hand': '763AK', 'bid': 341},
 {'hand': 'Q3K3Q', 'bid': 353},
 {'hand': '4TJT6', 'bid': 593},
 {'hand': 'KJ46J', 'bid': 666},
 {'hand': 'AA92Q', 'bid': 176},
 {'hand': '88555', 'bid': 738},
 {'hand': '8KJJJ', 'bid': 431},
 {'hand': '46T35', 'bid': 295},
 {'hand': '86868', 'bid': 400},
 {'hand': '884A4', 'bid': 19},
 {'hand': 'QQK44', 'bid': 860},
 {'hand': '99996', 'bid': 794},
 {'hand': '6J778', 'bid': 159},
 {'hand': '45Q9T', 'bid': 763},
 {'hand': '8AQAQ', 'bid': 39},
 {'hand': '4JJ2K', 'bid': 764},
 {'hand': 'Q42AT', 'bid': 3},
 {'hand': '77Q7Q', 'bid': 905},
 {'hand': '57ATJ', 'bid': 185},
 {'hand': 'QQQJ6', 'bid': 707},
 {'hand': 'TKT2T', 'bid': 115},
 {'hand': 'JK646', 'bid': 951},
 {'hand': '3KT2K', 'bid': 324},
 {'hand': '94J64', 'bid': 569},
 {'hand': 'Q278J', 'bid': 998},
 {'hand': '36QKA', 'bid': 979},
 {'hand': '89T98', 'bid': 772},
 {'hand': '55T66', 'bid': 669},
 {'hand': '62747', 'bid': 161},
 {'hand': '742TK', 'bid': 264},
 {'hand': 'J5A2Q', 'bid': 252},
 {'hand': 'JKAJK', 'bid': 455},
 {'hand': '72777', 'bid': 659},
 {'hand': '4454T', 'bid': 940},
 {'hand': 'Q2278', 'bid': 479},
 {'hand': '63K36', 'bid': 53},
 {'hand': '3K839', 'bid': 512},
 {'hand': 'A5AA5', 'bid': 223},
 {'hand': 'T3332', 'bid': 27},
 {'hand': 'KQ55Q', 'bid': 217},
 {'hand': '75TT7', 'bid': 706},
 {'hand': '53555', 'bid': 775},
 {'hand': '9KK96', 'bid': 348},
 {'hand': '9A999', 'bid': 984},
 {'hand': '9TT99', 'bid': 943},
 {'hand': 'TTATJ', 'bid': 906},
 {'hand': '6964K', 'bid': 711},
 {'hand': '42452', 'bid': 983},
 {'hand': '22AA2', 'bid': 241},
 {'hand': '22282', 'bid': 521},
 {'hand': '77733', 'bid': 627},
 {'hand': 'KQA47', 'bid': 987},
 {'hand': '738J7', 'bid': 963},
 {'hand': 'KK2KK', 'bid': 231},
 {'hand': '22322', 'bid': 709},
 {'hand': '4T7J6', 'bid': 665},
 {'hand': 'Q6K6A', 'bid': 417},
 {'hand': '2479K', 'bid': 955},
 {'hand': '7J22T', 'bid': 861},
 {'hand': '77A4A', 'bid': 446},
 {'hand': '8642K', 'bid': 934},
 {'hand': '25J32', 'bid': 435},
 {'hand': 'A3A3A', 'bid': 883},
 {'hand': 'QQ3JQ', 'bid': 280},
 {'hand': 'K7666', 'bid': 489},
 {'hand': '2QAQ9', 'bid': 732},
 {'hand': '85422', 'bid': 976},
 {'hand': 'T3393', 'bid': 322},
 {'hand': '28888', 'bid': 298},
 {'hand': 'J9759', 'bid': 608},
 {'hand': '33438', 'bid': 564},
 {'hand': 'A3KQ4', 'bid': 377},
 {'hand': '2K6TJ', 'bid': 209},
 {'hand': 'QQ64J', 'bid': 482},
 {'hand': '8T5T3', 'bid': 815},
 {'hand': '3K6K6', 'bid': 123},
 {'hand': '37757', 'bid': 741},
 {'hand': '555A6', 'bid': 858},
 {'hand': '5TAAA', 'bid': 12},
 {'hand': '2225K', 'bid': 965},
 {'hand': 'Q29QQ', 'bid': 355},
 {'hand': '2277K', 'bid': 62},
 {'hand': '99932', 'bid': 169},
 {'hand': '77722', 'bid': 458},
 {'hand': 'Q9444', 'bid': 550},
 {'hand': 'KJ8KK', 'bid': 338},
 {'hand': '9K99A', 'bid': 238},
 {'hand': '5Q5Q2', 'bid': 427},
 {'hand': '7A6A6', 'bid': 675},
 {'hand': '798AQ', 'bid': 766},
 {'hand': '386K8', 'bid': 420},
 {'hand': '88788', 'bid': 681},
 {'hand': '2K4JK', 'bid': 974},
 {'hand': '53426', 'bid': 776},
 {'hand': '46892', 'bid': 884},
 {'hand': '7Q47T', 'bid': 754},
 {'hand': '923A4', 'bid': 719},
 {'hand': '449JQ', 'bid': 506},
 {'hand': '2Q2Q2', 'bid': 596},
 {'hand': 'K888T', 'bid': 235},
 {'hand': '6AA6K', 'bid': 232},
 {'hand': '57T5T', 'bid': 314},
 {'hand': 'T3TA4', 'bid': 171},
 {'hand': '3QQ4A', 'bid': 581},
 {'hand': 'TAA98', 'bid': 946},
 {'hand': '75Q8A', 'bid': 170},
 {'hand': '46A4A', 'bid': 807},
 {'hand': '36836', 'bid': 539},
 {'hand': '888T3', 'bid': 515},
 {'hand': '5KA55', 'bid': 520},
 {'hand': '92J56', 'bid': 164},
 {'hand': 'Q3J56', 'bid': 1},
 {'hand': 'KAAJ7', 'bid': 499},
 {'hand': '7QJQ4', 'bid': 196},
 {'hand': 'TTKTK', 'bid': 552},
 {'hand': 'AQ4QA', 'bid': 257},
 {'hand': '7JTTT', 'bid': 249},
 {'hand': '7QQ89', 'bid': 268},
 {'hand': '96998', 'bid': 733},
 {'hand': '39933', 'bid': 713},
 {'hand': '44JJ4', 'bid': 603},
 {'hand': '6877K', 'bid': 206},
 {'hand': 'K224J', 'bid': 450},
 {'hand': 'TTTKJ', 'bid': 38},
 {'hand': 'T7999', 'bid': 22},
 {'hand': '7T55J', 'bid': 660},
 {'hand': '66363', 'bid': 61},
 {'hand': '33363', 'bid': 610},
 {'hand': 'TTAAT', 'bid': 795},
 {'hand': '36336', 'bid': 739},
 {'hand': '55255', 'bid': 604},
 {'hand': '982JJ', 'bid': 146},
 {'hand': '9ATQ6', 'bid': 313},
 {'hand': 'TT688', 'bid': 293},
 {'hand': 'TT7KT', 'bid': 648},
 {'hand': '93298', 'bid': 817},
 {'hand': '7TJ77', 'bid': 288},
 {'hand': '23J3J', 'bid': 184},
 {'hand': 'JT7T3', 'bid': 132},
 {'hand': 'Q9Q95', 'bid': 430},
 {'hand': '5554A', 'bid': 14},
 {'hand': 'QAQQA', 'bid': 212},
 {'hand': 'TT33T', 'bid': 538},
 {'hand': '7A7J7', 'bid': 97},
 {'hand': 'JQ738', 'bid': 968},
 {'hand': 'AKA8K', 'bid': 923},
 {'hand': 'K9988', 'bid': 498},
 {'hand': 'J424A', 'bid': 481},
 {'hand': '5AT66', 'bid': 792},
 {'hand': 'QQ444', 'bid': 835},
 {'hand': '22262', 'bid': 916},
 {'hand': 'TJTTJ', 'bid': 334},
 {'hand': '77Q47', 'bid': 462},
 {'hand': '84884', 'bid': 871},
 {'hand': '959AQ', 'bid': 950},
 {'hand': '9637J', 'bid': 492},
 {'hand': 'QKQQ3', 'bid': 214},
 {'hand': '68K6A', 'bid': 13},
 {'hand': '26624', 'bid': 843},
 {'hand': 'TTTT4', 'bid': 470},
 {'hand': '48TT5', 'bid': 81},
 {'hand': 'A6AQA', 'bid': 540},
 {'hand': 'TTQ9Q', 'bid': 285},
 {'hand': 'A8AAA', 'bid': 473},
 {'hand': '88848', 'bid': 900},
 {'hand': 'K779K', 'bid': 688},
 {'hand': '3QJJ5', 'bid': 852},
 {'hand': '66T6K', 'bid': 224},
 {'hand': '55595', 'bid': 720},
 {'hand': '2222T', 'bid': 784},
 {'hand': '83QT5', 'bid': 870},
 {'hand': '6QQQ2', 'bid': 426},
 {'hand': '44K55', 'bid': 625},
 {'hand': '4AJ94', 'bid': 472},
 {'hand': '6A55A', 'bid': 284},
 {'hand': '85584', 'bid': 43},
 {'hand': 'Q96J2', 'bid': 986},
 {'hand': 'KA5AA', 'bid': 939},
 {'hand': '62662', 'bid': 74},
 {'hand': '89277', 'bid': 390},
 {'hand': '4JKKJ', 'bid': 349},
 {'hand': '336AA', 'bid': 82},
 {'hand': 'A99A9', 'bid': 477},
 {'hand': 'Q95J9', 'bid': 116},
 {'hand': 'K99K8', 'bid': 108},
 {'hand': 'AKA6A', 'bid': 505},
 {'hand': '37J92', 'bid': 800},
 {'hand': 'TT98T', 'bid': 15},
 {'hand': 'JA75Q', 'bid': 276},
 {'hand': '44433', 'bid': 91},
 {'hand': '93494', 'bid': 684},
 {'hand': '7A772', 'bid': 220},
 {'hand': 'K6JKA', 'bid': 9},
 {'hand': '8TT85', 'bid': 685},
 {'hand': '44448', 'bid': 600},
 {'hand': '64T6T', 'bid': 484},
 {'hand': 'A3K29', 'bid': 547},
 {'hand': '4455T', 'bid': 698},
 {'hand': '932J6', 'bid': 742},
 {'hand': '57595', 'bid': 198},
 {'hand': '937QJ', 'bid': 114},
 {'hand': '69696', 'bid': 423},
 {'hand': 'A3A55', 'bid': 143},
 {'hand': 'K8J4J', 'bid': 25},
 {'hand': '7AQ64', 'bid': 646},
 {'hand': '8Q44A', 'bid': 166},
 {'hand': 'J2AQA', 'bid': 809},
 {'hand': '9993Q', 'bid': 272},
 {'hand': 'A6JT4', 'bid': 812},
 {'hand': 'K44T4', 'bid': 222},
 {'hand': 'J5567', 'bid': 577},
 {'hand': '22244', 'bid': 109},
 {'hand': 'TKTTT', 'bid': 631},
 {'hand': 'Q678K', 'bid': 919},
 {'hand': 'Q9KT3', 'bid': 157},
 {'hand': '4AJ64', 'bid': 602},
 {'hand': '7667T', 'bid': 912},
 {'hand': 'A9K35', 'bid': 282},
 {'hand': '272A2', 'bid': 78},
 {'hand': 'J887J', 'bid': 113},
 {'hand': 'K9A57', 'bid': 246},
 {'hand': 'JA7A2', 'bid': 915},
 {'hand': 'A3T9A', 'bid': 73},
 {'hand': '264T4', 'bid': 129},
 {'hand': 'KK777', 'bid': 386},
 {'hand': 'T6665', 'bid': 507},
 {'hand': 'JT2AT', 'bid': 642},
 {'hand': '66K66', 'bid': 382},
 {'hand': 'J4666', 'bid': 94},
 {'hand': '235KQ', 'bid': 966},
 {'hand': 'T3T53', 'bid': 868},
 {'hand': '3QA4A', 'bid': 584},
 {'hand': 'QQ7QQ', 'bid': 432},
 {'hand': 'JKK6K', 'bid': 37},
 {'hand': '64594', 'bid': 575},
 {'hand': '95669', 'bid': 931},
 {'hand': '37383', 'bid': 366},
 {'hand': 'K9KKJ', 'bid': 563},
 {'hand': '4Q9T3', 'bid': 970},
 {'hand': '8688T', 'bid': 180},
 {'hand': 'Q999Q', 'bid': 242},
 {'hand': '74724', 'bid': 243},
 {'hand': '6666A', 'bid': 623},
 {'hand': '66AT6', 'bid': 250},
 {'hand': '4KA58', 'bid': 451},
 {'hand': 'J622J', 'bid': 493},
 {'hand': '2J32T', 'bid': 47},
 {'hand': 'Q4586', 'bid': 859},
 {'hand': '3393Q', 'bid': 221},
 {'hand': '9Q55Q', 'bid': 908},
 {'hand': '66277', 'bid': 121},
 {'hand': 'T7A94', 'bid': 461},
 {'hand': '8KT58', 'bid': 160},
 {'hand': 'K9K99', 'bid': 989},
 {'hand': '29292', 'bid': 23},
 {'hand': '48462', 'bid': 574},
 {'hand': '6T443', 'bid': 1000},
 {'hand': '33344', 'bid': 414},
 {'hand': '22728', 'bid': 964},
 {'hand': 'Q58JQ', 'bid': 680},
 {'hand': '35K7T', 'bid': 542},
 {'hand': '5A3QK', 'bid': 673},
 {'hand': 'A5553', 'bid': 453},
 {'hand': '84Q7T', 'bid': 743},
 {'hand': '9489J', 'bid': 903},
 {'hand': 'TJT94', 'bid': 5},
 {'hand': '2925A', 'bid': 195},
 {'hand': '45954', 'bid': 17},
 {'hand': 'J6T79', 'bid': 460},
 {'hand': '6638J', 'bid': 848},
 {'hand': '977J9', 'bid': 192},
 {'hand': 'AAAJ5', 'bid': 131},
 {'hand': '3T39T', 'bid': 401},
 {'hand': '87828', 'bid': 447},
 {'hand': '9JJK7', 'bid': 651},
 {'hand': '42552', 'bid': 632},
 {'hand': 'T7TJJ', 'bid': 389},
 {'hand': 'AA75A', 'bid': 274},
 {'hand': 'KA46K', 'bid': 11},
 {'hand': 'Q2Q2Q', 'bid': 55},
 {'hand': 'KJKK3', 'bid': 697},
 {'hand': '5K3K3', 'bid': 495},
 {'hand': '84786', 'bid': 21},
 {'hand': '5J5QQ', 'bid': 413},
 {'hand': '25755', 'bid': 849},
 {'hand': '29222', 'bid': 780},
 {'hand': 'J5A9K', 'bid': 630},
 {'hand': 'K6TA6', 'bid': 863},
 {'hand': 'AKKKJ', 'bid': 395},
 {'hand': 'Q4456', 'bid': 777},
 {'hand': '547K7', 'bid': 328},
 {'hand': 'QT35K', 'bid': 559},
 {'hand': 'AJAA4', 'bid': 872},
 {'hand': 'KTJ6K', 'bid': 48},
 {'hand': 'TQQTQ', 'bid': 215},
 {'hand': '22662', 'bid': 768},
 {'hand': '28547', 'bid': 526},
 {'hand': '7J77Q', 'bid': 958},
 {'hand': '2J2JK', 'bid': 42},
 {'hand': 'AK648', 'bid': 691},
 {'hand': 'K6833', 'bid': 716},
 {'hand': '55J55', 'bid': 888},
 {'hand': '33322', 'bid': 904},
 {'hand': '2A6J7', 'bid': 605},
 {'hand': '58887', 'bid': 586},
 {'hand': '4J8Q7', 'bid': 621},
 {'hand': '9A8Q8', 'bid': 824},
 {'hand': 'JQ2T9', 'bid': 356},
 {'hand': '3TTTT', 'bid': 383},
 {'hand': 'JQQQJ', 'bid': 699},
 {'hand': '56T3Q', 'bid': 351},
 {'hand': '22422', 'bid': 879},
 {'hand': 'K25AJ', 'bid': 585},
 {'hand': '82J66', 'bid': 305},
 {'hand': 'QJQ68', 'bid': 703},
 {'hand': '96974', 'bid': 189},
 {'hand': '4JT36', 'bid': 419},
 {'hand': '84TJ2', 'bid': 549},
 {'hand': 'A95A2', 'bid': 84},
 {'hand': 'KK3KK', 'bid': 724},
 {'hand': 'A5KKA', 'bid': 421},
 {'hand': 'TTTAT', 'bid': 636},
 {'hand': '2T22K', 'bid': 822},
 {'hand': '337J7', 'bid': 634},
 {'hand': '98TT9', 'bid': 770},
 {'hand': 'J99JJ', 'bid': 167},
 {'hand': '88454', 'bid': 236},
 {'hand': 'J2985', 'bid': 405},
 {'hand': 'KQKKK', 'bid': 798},
 {'hand': '6KQ82', 'bid': 168},
 {'hand': 'AJJ9A', 'bid': 92},
 {'hand': '95595', 'bid': 150},
 {'hand': '82943', 'bid': 672},
 {'hand': '9Q7JA', 'bid': 69},
 {'hand': '43QJQ', 'bid': 829},
 {'hand': 'A8382', 'bid': 773},
 {'hand': '332J4', 'bid': 8},
 {'hand': '7777K', 'bid': 657},
 {'hand': '9J999', 'bid': 851},
 {'hand': '35J5J', 'bid': 99},
 {'hand': 'AKQ82', 'bid': 24},
 {'hand': '59355', 'bid': 658},
 {'hand': 'AAAQA', 'bid': 452},
 {'hand': '98888', 'bid': 44},
 {'hand': '77947', 'bid': 476},
 {'hand': '48222', 'bid': 533},
 {'hand': 'T6666', 'bid': 30},
 {'hand': 'TT4T7', 'bid': 144},
 {'hand': '3Q8Q8', 'bid': 297},
 {'hand': 'J3888', 'bid': 309},
 {'hand': 'QJ22A', 'bid': 933},
 {'hand': '6TQ88', 'bid': 977},
 {'hand': '23A4J', 'bid': 18},
 {'hand': '66A5A', 'bid': 262},
 {'hand': '6T5A5', 'bid': 914},
 {'hand': '5K9J6', 'bid': 922},
 {'hand': 'Q4Q99', 'bid': 751},
 {'hand': '3874Q', 'bid': 60},
 {'hand': 'TTKT8', 'bid': 653},
 {'hand': '7TT7T', 'bid': 126},
 {'hand': '9J668', 'bid': 364},
 {'hand': '9ATK2', 'bid': 155},
 {'hand': '44462', 'bid': 187},
 {'hand': '85AJA', 'bid': 692},
 {'hand': 'K54J9', 'bid': 594},
 {'hand': '2TK95', 'bid': 318},
 {'hand': 'QT289', 'bid': 744},
 {'hand': 'AQ45Q', 'bid': 846},
 {'hand': 'K2583', 'bid': 841},
 {'hand': '55556', 'bid': 837},
 {'hand': '76662', 'bid': 286},
 {'hand': '79577', 'bid': 893},
 {'hand': 'K3J47', 'bid': 140},
 {'hand': 'QAT37', 'bid': 644},
 {'hand': '89QT7', 'bid': 921},
 {'hand': '3AAAA', 'bid': 379},
 {'hand': 'K49K8', 'bid': 647},
 {'hand': '7373Q', 'bid': 396},
 {'hand': '9J5Q8', 'bid': 254},
 {'hand': '799Q7', 'bid': 85},
 {'hand': '5J55K', 'bid': 558},
 {'hand': 'TJ254', 'bid': 528},
 {'hand': 'Q5QJQ', 'bid': 207},
 {'hand': '23223', 'bid': 527},
 {'hand': 'AQ83K', 'bid': 694},
 {'hand': '9TJ2J', 'bid': 101},
 {'hand': '9476K', 'bid': 590},
 {'hand': 'TTQ5J', 'bid': 359},
 {'hand': 'A9TQ2', 'bid': 641},
 {'hand': '2J35Q', 'bid': 519},
 {'hand': '55522', 'bid': 398},
 {'hand': '99949', 'bid': 708},
 {'hand': '94K3K', 'bid': 234},
 {'hand': '4J884', 'bid': 336},
 {'hand': '3T32T', 'bid': 633},
 {'hand': '33J3K', 'bid': 137},
 {'hand': '8J778', 'bid': 456},
 {'hand': '8Q57T', 'bid': 726},
 {'hand': '79975', 'bid': 177},
 {'hand': 'J37Q2', 'bid': 467},
 {'hand': 'TKKKT', 'bid': 553},
 {'hand': '47442', 'bid': 992},
 {'hand': 'AT7K3', 'bid': 875},
 {'hand': '76666', 'bid': 573},
 {'hand': '424QJ', 'bid': 497},
 {'hand': '333K8', 'bid': 597},
 {'hand': 'AJTAA', 'bid': 29},
 {'hand': '89Q26', 'bid': 844},
 {'hand': '3KK33', 'bid': 723},
 {'hand': 'A9AKJ', 'bid': 138},
 {'hand': '77555', 'bid': 592},
 {'hand': '33888', 'bid': 762},
 {'hand': 'T5342', 'bid': 561},
 {'hand': '75547', 'bid': 190},
 {'hand': 'TT4JT', 'bid': 650},
 {'hand': '45Q55', 'bid': 818},
 {'hand': '7J777', 'bid': 935},
 {'hand': '333TQ', 'bid': 478},
 {'hand': '566J4', 'bid': 71},
 {'hand': 'T7QTT', 'bid': 854},
 {'hand': '28558', 'bid': 643},
 {'hand': '26895', 'bid': 273},
 {'hand': '8762A', 'bid': 58},
 {'hand': 'J333J', 'bid': 79},
 {'hand': '387J4', 'bid': 437},
 {'hand': 'T9926', 'bid': 980},
 {'hand': '4K425', 'bid': 325},
 {'hand': '97Q5K', 'bid': 546},
 {'hand': 'Q57K3', 'bid': 898},
 {'hand': 'AA988', 'bid': 579},
 {'hand': '669JA', 'bid': 678},
 {'hand': '859J5', 'bid': 701},
 {'hand': '29992', 'bid': 700},
 {'hand': 'JA66A', 'bid': 141},
 {'hand': '4J777', 'bid': 440},
 {'hand': 'J7A7A', 'bid': 816},
 {'hand': 'JQQ96', 'bid': 941},
 {'hand': '43354', 'bid': 924},
 {'hand': '66T22', 'bid': 408},
 {'hand': '49444', 'bid': 865},
 {'hand': '6KA5A', 'bid': 649},
 {'hand': 'Q5T28', 'bid': 106},
 {'hand': '77977', 'bid': 352},
 {'hand': 'J56Q5', 'bid': 31},
 {'hand': '22656', 'bid': 814},
 {'hand': 'AT333', 'bid': 518},
 {'hand': '6JTT6', 'bid': 2},
 {'hand': '99889', 'bid': 838},
 {'hand': 'JAKAK', 'bid': 790},
 {'hand': '35355', 'bid': 247},
 {'hand': 'T2A82', 'bid': 32},
 {'hand': '68888', 'bid': 429},
 {'hand': 'Q69T3', 'bid': 944},
 {'hand': '8688K', 'bid': 72},
 {'hand': '684K8', 'bid': 337},
 {'hand': 'T9576', 'bid': 385},
 {'hand': '333A4', 'bid': 674},
 {'hand': '3T633', 'bid': 994},
 {'hand': '92JQK', 'bid': 894},
 {'hand': 'A6293', 'bid': 517},
 {'hand': 'KK288', 'bid': 327},
 {'hand': '373Q4', 'bid': 66},
 {'hand': 'KKJJ8', 'bid': 737},
 {'hand': '38T67', 'bid': 995},
 {'hand': 'KKJ4K', 'bid': 609},
 {'hand': '95898', 'bid': 615},
 {'hand': 'AQQA9', 'bid': 802},
 {'hand': 'TT8J7', 'bid': 67},
 {'hand': '3A438', 'bid': 397},
 {'hand': 'AJAKJ', 'bid': 895},
 {'hand': '254A2', 'bid': 808},
 {'hand': 'J9T26', 'bid': 117},
 {'hand': 'AJAAJ', 'bid': 954},
 {'hand': '94499', 'bid': 847},
 {'hand': 'T8999', 'bid': 836},
 {'hand': 'K4T7J', 'bid': 529},
 {'hand': '24444', 'bid': 535},
 {'hand': 'J2222', 'bid': 956},
 {'hand': '44KA4', 'bid': 45},
 {'hand': '6A66A', 'bid': 95},
 {'hand': '52778', 'bid': 856},
 {'hand': 'JKJKK', 'bid': 346},
 {'hand': 'AAJAA', 'bid': 211},
 {'hand': 'J52J5', 'bid': 103},
 {'hand': '786JJ', 'bid': 693},
 {'hand': 'Q66J6', 'bid': 876},
 {'hand': '5353J', 'bid': 511},
 {'hand': 'KK6K6', 'bid': 438},
 {'hand': 'K9Q99', 'bid': 424},
 {'hand': '948T9', 'bid': 655},
 {'hand': 'K47KK', 'bid': 380},
 {'hand': '97937', 'bid': 271},
 {'hand': 'KKK4K', 'bid': 617},
 {'hand': 'J4978', 'bid': 142},
 {'hand': '7Q848', 'bid': 149},
 {'hand': '8733J', 'bid': 312},
 {'hand': '88778', 'bid': 172},
 {'hand': '6A363', 'bid': 926},
 {'hand': 'KQQ4K', 'bid': 468},
 {'hand': 'AK9Q7', 'bid': 962},
 {'hand': '9TQ58', 'bid': 436},
 {'hand': 'KJK57', 'bid': 165},
 {'hand': 'KA464', 'bid': 967},
 {'hand': '8TTQQ', 'bid': 10},
 {'hand': '7464K', 'bid': 306},
 {'hand': '558Q7', 'bid': 583},
 {'hand': '29999', 'bid': 267},
 {'hand': 'QAA82', 'bid': 656},
 {'hand': 'K6A75', 'bid': 760},
 {'hand': '7775J', 'bid': 442},
 {'hand': 'KJ3K3', 'bid': 332},
 {'hand': 'JQ2T4', 'bid': 128},
 {'hand': 'T9728', 'bid': 350},
 {'hand': 'J4494', 'bid': 89},
 {'hand': '498TT', 'bid': 365},
 {'hand': 'AJA4Q', 'bid': 193},
 {'hand': '666Q4', 'bid': 806},
 {'hand': '37476', 'bid': 410},
 {'hand': '896QK', 'bid': 302},
 {'hand': 'KKJ6Q', 'bid': 614},
 {'hand': '29522', 'bid': 265},
 {'hand': '5TA48', 'bid': 287},
 {'hand': 'AJ24T', 'bid': 705},
 {'hand': '76TK2', 'bid': 173},
 {'hand': 'A2749', 'bid': 261},
 {'hand': 'J9575', 'bid': 433},
 {'hand': 'KQ948', 'bid': 828},
 {'hand': '59545', 'bid': 952},
 {'hand': '3AT56', 'bid': 275},
 {'hand': '664Q8', 'bid': 182},
 {'hand': '6429T', 'bid': 554},
 {'hand': 'QQ8QQ', 'bid': 406},
 {'hand': '24AA4', 'bid': 259},
 {'hand': '5J66J', 'bid': 315},
 {'hand': '9338Q', 'bid': 981},
 {'hand': '66637', 'bid': 503},
 {'hand': 'TT888', 'bid': 354},
 {'hand': '23243', 'bid': 179},
 {'hand': '6K54J', 'bid': 804},
 {'hand': '277J3', 'bid': 855},
 {'hand': '22727', 'bid': 682},
 {'hand': '3693Q', 'bid': 64},
 {'hand': '97489', 'bid': 375},
 {'hand': '57T88', 'bid': 174},
 {'hand': 'TQA36', 'bid': 428},
 {'hand': 'KK5KK', 'bid': 839},
 {'hand': 'Q343Q', 'bid': 589},
 {'hand': 'A2262', 'bid': 628},
 {'hand': 'A9AJA', 'bid': 373},
 {'hand': '56757', 'bid': 565},
 {'hand': '3K333', 'bid': 454},
 {'hand': '96622', 'bid': 233},
 {'hand': 'JJJ8J', 'bid': 370},
 {'hand': '9KTTT', 'bid': 466},
 {'hand': 'K22JK', 'bid': 702},
 {'hand': 'KKK33', 'bid': 508},
 {'hand': 'T9T9T', 'bid': 715},
 {'hand': '99595', 'bid': 368},
 {'hand': 'TJT55', 'bid': 485},
 {'hand': 'J28T8', 'bid': 591},
 {'hand': 'T8768', 'bid': 291},
 {'hand': 'T7K68', 'bid': 845},
 {'hand': 'J666J', 'bid': 663},
 {'hand': 'Q966J', 'bid': 105},
 {'hand': 'J3333', 'bid': 360},
 {'hand': '8AQA3', 'bid': 496},
 {'hand': 'KJTQK', 'bid': 316},
 {'hand': 'KTTT3', 'bid': 372},
 {'hand': 'A259T', 'bid': 181},
 {'hand': '7777Q', 'bid': 191},
 {'hand': '78777', 'bid': 911},
 {'hand': '7A925', 'bid': 208},
 {'hand': 'QAQKQ', 'bid': 930},
 {'hand': 'Q736K', 'bid': 747},
 {'hand': 'K7KTK', 'bid': 920},
 {'hand': '388T3', 'bid': 982},
 {'hand': 'Q5QQQ', 'bid': 218},
 {'hand': '49J49', 'bid': 145},
 {'hand': '23329', 'bid': 219},
 {'hand': 'K97KQ', 'bid': 736},
 {'hand': '7KQJ7', 'bid': 667},
 {'hand': '4KJA6', 'bid': 323},
 {'hand': '422T2', 'bid': 857},
 {'hand': 'KJJKT', 'bid': 746},
 {'hand': 'T7TTT', 'bid': 727},
 {'hand': 'J552T', 'bid': 304},
 {'hand': '77TKK', 'bid': 107},
 {'hand': 'K432J', 'bid': 278},
 {'hand': '9JJ99', 'bid': 988},
 {'hand': '6Q8A8', 'bid': 283},
 {'hand': '2A6T8', 'bid': 890},
 {'hand': '28AA5', 'bid': 601},
 {'hand': 'T662T', 'bid': 721},
 {'hand': '55J5J', 'bid': 725},
 {'hand': '4QTQ4', 'bid': 237},
 {'hand': 'TKK4T', 'bid': 175},
 {'hand': '22682', 'bid': 471},
 {'hand': 'J8538', 'bid': 343},
 {'hand': '498J3', 'bid': 910},
 {'hand': '3T548', 'bid': 850},
 {'hand': '33868', 'bid': 465},
 {'hand': 'K55K3', 'bid': 151},
 {'hand': '947KJ', 'bid': 118},
 {'hand': '3T9A5', 'bid': 281},
 {'hand': '4T83K', 'bid': 422},
 {'hand': '22K27', 'bid': 51},
 {'hand': 'J777J', 'bid': 80},

In [5]:
values = {"2":2, "3":3, "4":4, "5":5, "6":6, "7":7, "8":8, "9":9, "T":10, "J":11, "Q":12, "K":13, "A":14}

In [6]:
# adapted from https://briancaffey.github.io/2018/01/02/checking-poker-hands-with-python.html/
def check_five_of_a_kind(hand):
    values = [i[0] for i in hand]
    value_counts = defaultdict(lambda:0)
    for v in values:
        value_counts[v]+=1
    if sorted(value_counts.values()) == [5]:
        return True
    return False

def check_four_of_a_kind(hand):
    values = [i[0] for i in hand]
    value_counts = defaultdict(lambda:0)
    for v in values:
        value_counts[v]+=1
    if sorted(value_counts.values()) == [1,4]:
        return True
    return False

def check_full_house(hand):
    values = [i[0] for i in hand]
    value_counts = defaultdict(lambda:0)
    for v in values:
        value_counts[v]+=1
    if sorted(value_counts.values()) == [2,3]:
        return True
    return False

def check_three_of_a_kind(hand):
    values = [i[0] for i in hand]
    value_counts = defaultdict(lambda:0)
    for v in values:
        value_counts[v]+=1
    if set(value_counts.values()) == set([3,1]):
        return True
    else:
        return False

def check_two_pairs(hand):
    values = [i[0] for i in hand]
    value_counts = defaultdict(lambda:0)
    for v in values:
        value_counts[v]+=1
    if sorted(value_counts.values())==[1,2,2]:
        return True
    else:
        return False

def check_pair(hand):
    values = [i[0] for i in hand]
    value_counts = defaultdict(lambda:0)
    for v in values:
        value_counts[v]+=1
    if 2 in value_counts.values():
        return True
    else:
        return False

In [7]:
check_three_of_a_kind(data[4]["hand"])

False

In [8]:
def check_hand(hand):
    if check_five_of_a_kind(hand):
        return 7
    if check_four_of_a_kind(hand):
        return 6
    if check_full_house(hand):
        return 5
    if check_three_of_a_kind(hand):
        return 4
    if check_two_pairs(hand):
        return 3
    if check_pair(hand):
        return 2
    return 1

In [9]:
new_data = []

for x in data:
    pts = check_hand(x["hand"])
    new_data.append({"hand": x["hand"], 
                     "bid": x["bid"], 
                     "points": pts,
                     "tie1": sum([values[y] for y in x["hand"][0:1]]),
                     "tie2": sum([values[y] for y in x["hand"][0:2]]),
                     "tie3": sum([values[y] for y in x["hand"][0:3]]),
                     "tie4": sum([values[y] for y in x["hand"][0:4]]),
                     "tie5": sum([values[y] for y in x["hand"]])
                    })
    
df = pd.DataFrame(new_data)
df.head()

    hand  bid  points  tie1  tie2  tie3  tie4  tie5
0  8T64Q  595       1     8    18    24    28    40
1  79J27  258       2     7    16    27    29    36
2  88885   88       6     8    16    24    32    37
3  8933J  444       2     8    17    20    23    34
4  72527  676       3     7     9    14    16    23

In [10]:
df = df.sort_values(by=["points", "tie1", "tie2", "tie3", "tie4", "tie5"], ascending=True).reset_index(drop=True)
df["rank"] = df.index + 1
df["winnings"] = df.bid * df["rank"]
df

      hand  bid  points  tie1  tie2  tie3  tie4  tie5  rank  winnings
0    2346J  689       1     2     5     9    15    26     1       689
1    235KQ  966       1     2     5    10    23    35     2      1932
2    23859  347       1     2     5    13    18    27     3      1041
3    23A4J   18       1     2     5    19    23    34     4        72
4    2479Q  227       1     2     6    13    22    34     5      1135
..     ...  ...     ...   ...   ...   ...   ...   ...   ...       ...
995  AA6AA  735       6    14    28    34    48    62   996    732060
996  AA9AA  598       6    14    28    37    51    65   997    596206
997  AAJAA  211       6    14    28    39    53    67   998    210578
998  AAAQA  452       6    14    28    42    54    68   999    451548
999  JJJJJ  728       7    11    22    33    44    55  1000    728000

[1000 rows x 10 columns]

In [11]:
df.winnings.sum()

250474325

In [12]:
values = {"J":1, "2":2, "3":3, "4":4, "5":5, "6":6, "7":7, "8":8, "9":9, "T":10, "Q":11, "K":12, "A":13}

In [13]:
new_data = []

for x in data:
    pts_list = []
    for r in '23456789TQKA':
        pts_list.append(check_hand(x["hand"].replace("J", r)))
        
    pts = max(pts_list)
    
    new_data.append({"hand": x["hand"], 
                     "bid": x["bid"], 
                     "points": pts,
                     "tie1": sum([values[y] for y in x["hand"][0:1]]),
                     "tie2": sum([values[y] for y in x["hand"][0:2]]),
                     "tie3": sum([values[y] for y in x["hand"][0:3]]),
                     "tie4": sum([values[y] for y in x["hand"][0:4]]),
                     "tie5": sum([values[y] for y in x["hand"]])
                    })
    
df = pd.DataFrame(new_data)
df.head()

    hand  bid  points  tie1  tie2  tie3  tie4  tie5
0  8T64Q  595       1     8    18    24    28    39
1  79J27  258       4     7    16    17    19    26
2  88885   88       6     8    16    24    32    37
3  8933J  444       4     8    17    20    23    24
4  72527  676       3     7     9    14    16    23

In [14]:
df = df.sort_values(by=["points", "tie1", "tie2", "tie3", "tie4", "tie5"], ascending=True).reset_index(drop=True)
df["rank"] = df.index + 1
df["winnings"] = df.bid * df["rank"]
df

      hand  bid  points  tie1  tie2  tie3  tie4  tie5  rank  winnings
0    235KQ  966       1     2     5    10    22    33     1       966
1    23859  347       1     2     5    13    18    27     2       694
2    2479Q  227       1     2     6    13    22    33     3       681
3    2479K  955       1     2     6    13    22    34     4      3820
4    257A6  695       1     2     7    14    27    33     5      3475
..     ...  ...     ...   ...   ...   ...   ...   ...   ...       ...
995  TJTTJ  334       7    10    11    21    31    32   996    332664
996  TTJTT  216       7    10    20    21    31    41   997    215352
997  KKJKK  918       7    12    24    25    37    49   998    916164
998  AJAAJ  954       7    13    14    27    40    41   999    953046
999  AAJAA  211       7    13    26    27    40    53  1000    211000

[1000 rows x 10 columns]

In [15]:
df.tail(10)

      hand  bid  points  tie1  tie2  tie3  tie4  tie5  rank  winnings
990  666J6  570       7     6    12    18    19    25   991    564870
991  7J777  935       7     7     8    15    22    29   992    927520
992  888J8  411       7     8    16    24    25    33   993    408123
993  9JJ99  988       7     9    10    11    20    29   994    982072
994  9J999  851       7     9    10    19    28    37   995    846745
995  TJTTJ  334       7    10    11    21    31    32   996    332664
996  TTJTT  216       7    10    20    21    31    41   997    215352
997  KKJKK  918       7    12    24    25    37    49   998    916164
998  AJAAJ  954       7    13    14    27    40    41   999    953046
999  AAJAA  211       7    13    26    27    40    53  1000    211000

In [16]:
df.winnings.sum()

248909434